<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/layout.css">
    <title>Document</title>
</head>
<body>
    <form id="login-form">
        <fieldset>
            <legend>로그인</legend>
            <img width = "300" src="https://cdn.mos.cms.futurecdn.net/rLh7Dh7EKo8F6zmDtXYp8W.jpg">
            <div id="login_content">
                <p>이메일</p>
                <input type="text" id="email" placeholder="e-mail">
                <p>비밀번호</p>
                <input type="password" id="password" placeholder="password">
                <button type="submit">로그인</button>
            </div>
        </fieldset>
    </form>
    <div id="join_button">
        <button  type="button"><a href="http://localhost:3000">회원가입</a></button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./JS/login.js"></script>
</body>
</html>