<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/write.css">
    <title>Document</title>
</head>
<body>
    <form id="content_form">
        <fieldset>
            <div id="insert_content"><textarea id="content" name="content" rows="50" cols="100" wrap="virtual"></textarea></div>
            <div id="save_button">
                <button type="submit">저장</button> 
            </div>
        </fieldset>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./JS/write.js"></script>
</body>
</html>